.main_zagol
{
font-size:28pt;
font-family:arial;
font-weight:bold;
text-align:center;
}

.zagol
{
font-size:18pt;
font-family:arial;
font-style:italic;
font-weight:bold;
text-align:center;
color:rgb(0,153,255);
}

.numerac
{
font-size:16pt;
font-family:arial;
color:white;
font-weight:bold;
text-align:center;
background-color:rgb(0,153,255);
padding-top:4;
padding-bottom:4;
}

.p_img
{
text-align:center;
}

.m_img
{
width:55%;
} 