################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CGG/lw_1/.vs/lw_1/v15/Browse.VC.opendb
/CGG/lw_1/.vs/lw_1/v15/Browse.VC.db
/CGG/lw_1/.vs/lw_1/v15/ipch/AutoPCH
/CGG/lw_1/.vs/lw_1/v15
/IB/lw_3/cypher_AES/.vs/cypher_AES/v15/Browse.VC.db
/IB/lw_3/cypher_AES/.vs/cypher_AES/v15/Browse.VC.opendb
/TIPIS/lw3_test/.vs/lw3_test/v15/Browse.VC.db
/TIPIS/lw3_test/.vs/lw3_test/v15/Browse.VC.opendb
CGG/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.opendb
CGG/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.db
TIPIS/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.db
TIPIS/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.opendb
/CGG/lw_2/lw_2/.vs/lw_2/v15/Solution.VC.db-wal
/CGG/lw_2/lw_2/.vs/lw_2/v15/Solution.VC.db-shm
/CGG/lw_2/lw_2/.vs/lw_2/v15/Solution.VC.db
/CGG/lw_2/lw_2/.vs/lw_2/v15/.suo
JAVA/lw_3/out/artifacts/lw_3_oop_jar/lw_3_oop.jar
TIPIS/lw_2/lw_2/.vs/tipis_lw/v15/Browse.VC.db
TIPIS/lw_2/lw_2/.vs/tipis_lw/v15/Browse.VC.opendb
/CGG/lw_2/lw_2/.vs/lw_2/v15/ipch/AutoPCH
CGG/lw_2/lw_2/Debug/lw_2.pdb
CGG/lw_2/lw_2/Debug/lw_2.ilk
CGG/lw_2/lw_2/Debug/lw_2.pdb
*.ipch
*.pdb
*.opendb
*.db
CGG/lw_3/lw_3/.vs/lw_3/v15/.suo
*.tlog
*.idb
CGG/lw_3/3 HELP/computer_graphics_lab_3_final/.vs/computer_graphics_lab1/v16/.suo
*.ilk
CGG/lw_3/3 HELP/kg3 traktor/.vs/kg_lab_3/v15/.suo
CGG/lw_3/3 HELP/kg3 traktor/.vs/kg_lab_3/v16/.suo
*.log
*.obj
*.res
CGG/lw_3/3 HELP/kg3 velos/.vs/kg1lab/v15/.suo
CGG/lw_3/3 HELP/kg3 velos/.vs/kg1lab/v14/.suo
*.htm
*.db
*.db
CGG/lw_3/lw_3/.vs/lw_3/v15/.suo
CGG/lw_3/lw_3/.vs/lw_3/v15/Browse.VC.db
CGG/lw_3/lw_3/.vs/lw_3/v15/.suo
CGG/lw_3/lw_3/.vs/lw_3/v15/Browse.VC.db
CGG/lw_3/lw_3/.vs/lw_3/v15/.suo
CGG/lw_3/3 HELP/kg3 traktor/x64/Debug/kg_lab_3.exe
CGG/lw_3/3 HELP/kg3 vertol/
CGG/lw_3/3 HELP/laab 3333/.vs/kg1lab/v15/.suo
CGG/lw_3/3 HELP/laab 3333/Debug/kg1lab.exe
CGG/lw_3/lw_3/.vs/lw_3/v15/.suo
CGG/lw_3/lw_3/.vs/lw_3/v15/Browse.VC.db
