################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CGG/lw_1/.vs/lw_1/v15/Browse.VC.opendb
/CGG/lw_1/.vs/lw_1/v15/Browse.VC.db
/CGG/lw_1/.vs/lw_1/v15/ipch/AutoPCH
/CGG/lw_1/.vs/lw_1/v15
/IB/lw_3/cypher_AES/.vs/cypher_AES/v15/Browse.VC.db
/IB/lw_3/cypher_AES/.vs/cypher_AES/v15/Browse.VC.opendb
/TIPIS/lw3_test/.vs/lw3_test/v15/Browse.VC.db
/TIPIS/lw3_test/.vs/lw3_test/v15/Browse.VC.opendb
CGG/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.opendb
CGG/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.db
TIPIS/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.db
TIPIS/lw_2/lw_2/.vs/lw_2/v15/Browse.VC.opendb
/CGG/lw_2/lw_2/.vs/lw_2/v15/Solution.VC.db-wal
/CGG/lw_2/lw_2/.vs/lw_2/v15/Solution.VC.db-shm
/CGG/lw_2/lw_2/.vs/lw_2/v15/Solution.VC.db
/CGG/lw_2/lw_2/.vs/lw_2/v15/.suo
JAVA/lw_3/out/artifacts/lw_3_oop_jar/lw_3_oop.jar
TIPIS/lw_2/lw_2/.vs/tipis_lw/v15/Browse.VC.db
TIPIS/lw_2/lw_2/.vs/tipis_lw/v15/Browse.VC.opendb
/CGG/lw_2/lw_2/.vs/lw_2/v15/ipch/AutoPCH
