################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CGG/lw_1/.vs/lw_1/v15/Browse.VC.opendb
/CGG/lw_1/.vs/lw_1/v15/Browse.VC.db
/CGG/lw_1/.vs/lw_1/v15/ipch/AutoPCH
/CGG/lw_1/.vs/lw_1/v15
