.page1
{
	position: absolute;
	/*width: 1440px;*/
	width: 100%;
	height: 1024px;
	left: 0px;
	top: 23px;
	background: url(background.png);
}
.texthello 
{
position: absolute;
width: 1143px;
height: 502px;
left: 167px;
top: 261px;
background: #C4C4C4;
}
.forheader 
{
position: absolute;
width: 1440px;
height: 154px;
left: 0px;
top: 0px;
background: #C4C4C4;
}
.logo 
{
position: absolute;
width: 221px;
height: 156px;
left: 0px;
top: -2px;

background: #C42E2E;}
.about
{
position: absolute;
width: 313px;
height: 154px;
left: 426px;
top: 0px;
background: #EA4C4C;
}
.contact
{
position: absolute;
width: 313px;
height: 154px;
left: 893px;
top: -2px;
background: #EA4C4C;}
.textcit
 {
position: absolute;
width: 883px;
height: 84px;
left: calc(50% - 883px/2 + 19.5px);
top: calc(50% - 84px/2 + 127px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}
.textitle 
{
position: absolute;
width: 911px;
height: 162px;
left: 298px;
top: 348px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;
text-align: center;

color: #000000;
}

.open 
{
position: absolute;
width: 258px;
height: 49px;
left: 462px;
top: 698px;

background: #C4C4C4;
}

.подробнее
{
position: absolute;
width: 258px;
height: 49px;
left: 462px;
top: 698px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;

}

.open2 
{
position: absolute;
width: 258px;
height: 49px;
left: 790px;
top: 698px;

background: #C4C4C4;
}

.презентация 
{
position: absolute;
width: 258px;
height: 49px;
left: 790px;
top: 698px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;
}
.page2 
{
	position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 1072px;
}
.texthello 
{
position: absolute;
width: 799px;
height: 379px;
left: 33px;
top: 184px;

background: #C4C4C4;}

.forheader 
{
position: absolute;
width: 1440px;
height: 154px;
left: 0px;
top: 3px;

background: #C4C4C4;
}

.logo {
position: absolute;
width: 221px;
height: 156px;
left: 0px;
top: 1px;

background: #C42E2E;}


.about 
{

position: absolute;
width: 313px;
height: 154px;
left: 426px;
top: 3px;

background: #EA4C4C;

}
.contact 
{
position: absolute;
width: 313px;
height: 154px;
left: 893px;
top: 1px;

background: #EA4C4C;}


.main
{
position: absolute;
width: 778px;
height: 182px;
left: 54px;
top: 270px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}
.texthello2
{
position: absolute;
width: 799px;
height: 379px;
left: 608px;
top: 613px;

background: #C4C4C4;}


.main2
{
position: absolute;
width: 778px;
height: 182px;
left: 629px;
top: 699px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;

}
.page3 
{
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 2129px;}

