/*Acordion*/
.accordion_item
{
  /*border: 1px solid #fff;*/
}
.accordion_header
{
  padding: 2px 0px 10px 65px;
  position: relative;
  border-bottom: 1px solid #fff;
}
.accordion_content
{
  padding: 15px 20px;
  font-size: 15px;
  color: #333;
} 
.accoreon_title
{
  font-size: 14px;
  color:#333;
  text-transform: uppercase;
}
.accordeon_icon
{  
  width:50px;
  height: auto;
  position: absolute;
  top:30%;

  left: 10px;
  z-index: 1;
  transform: translateY(-20%);
}


/*Collapse*/
.collapse-content {
  width: 70vw;
  margin: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.collapse {
  background: #fff;
}

.collapse a {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 1.8rem;
  color: #fff;
  background:#A956A9;
  position: relative;
}


.collapse a.contact {
  background: #56A956;
}
.collapse a.network {

  padding: 0.1rem 1.0rem;
  background: #85F5CF;
  color:#280310;
}
.collapse a.official {
  background: #A956A9;
}



.collapse a:before {
  content: "";
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 25px;
  right: 30px;
}

.inner-content {
  padding: 0.5rem;
}
.inner-content ul
{
  text-transform: uppercase;
}
.content {
  max-height: 0em;
  transition: 0.3s linear 0s;
  overflow: hidden;
}

.collapse + .collapse a {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

h3 {
  margin-bottom: 15px;
}

.collapse:target .content {
  max-height: 15em;
}

.collapse:target a:before {
  transform: rotate(-90deg);
}

@media (max-width: 768px) {
  .collapse-content {
    width: 80vw;
    margin: auto;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
@media (max-width: 425px) {
  body {
    line-height: 1.3;
  }
  .collapse-content {
    width: 80vw;
  }
  .inner-content {
    padding: 1.2rem;
  }
  .inner-content h3 {
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 320px) {
  body {
    line-height: 1.3;
  }
  .collapse-content {
    width: 80vw;
  }
  .inner-content {
    padding: 0.8rem;
  }
  .inner-content h3 {
    margin-bottom: 0.3rem;
  }
}


